<!DOCTYPE html>
<html>
<head>
	<title>Chirp</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script type="text/javascript" src="javascript/chirpApp.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body ng-app='chirpApp'>

<div class='container'>

	<h1>Chirp!</h1>

	<div id='main' ng-controller='mainController'>
		<form ng-Submit="post()">
			<input class="form-control" required type="text" placeholder="Your Name" ng-model="newPost.created_by">
			<br>
			<textarea class="form-control" required maxlength="200", rows="3" placeholder="Say Something!" ng-model="newPost.text"></textarea>
			<br>
			<input class='btn btn-success' type="submit" value="Chrip!">
		</form>
	

		<div id='post-stream'>
			<h4>Chirp Feed</h4>
			<div class='post' ng-repeat='post in posts | orderBy:"created_at":true' ng-class-odd="'odd'" ng-class-even="'even'">
				<p>{{post.created_by}} says {{post.text}} at {{post.created_at | date:"h:mma 'on' MMM d, y"}}</p>
			</div>
		</div>
	</div>

</div>

</body>
</html>